@model IEnumerable<ProyectoSistemaTurismo.Models.Hospedaje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Oferta.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_minimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_maximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario_checkin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario_checkout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicios_adicionales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Oferta.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_minimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_maximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario_checkin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario_checkout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servicios_adicionales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_hospedaje }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_hospedaje }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_hospedaje })
        </td>
    </tr>
}

</table>
