@model ProyectoSistemaTurismo.Models.Etiqueta

@{
    ViewBag.Title = "Editar Etiqueta";
}

<h2>Editar Etiqueta</h2>

@using (Html.BeginForm("Editar", "Etiqueta", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <!-- Campo oculto para ID de la etiqueta -->
    @Html.HiddenFor(model => model.id_etiqueta)

    <!-- Nombre -->
    <div class="form-group">
        @Html.LabelFor(model => model.nombre_etiqueta, "Nombre", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.nombre_etiqueta, new { @class = "form-control", required = "required", maxlength = 50 })
            @Html.ValidationMessageFor(model => model.nombre_etiqueta, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Estado -->
    <div class="form-group">
        @Html.LabelFor(model => model.estado, "Estado", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.estado, new SelectList(new[] {
                new { Value = "A", Text = "Activo" },
                new { Value = "I", Text = "Inactivo" }
            }, "Value", "Text", Model.estado), "Seleccione el estado", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Botones -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
