@model IEnumerable<ProyectoSistemaTurismo.Models.Destino>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_destino }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_destino }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_destino })
        </td>
    </tr>
}

</table>
