@model IEnumerable<ProyectoSistemaTurismo.Models.Atractivo_Turistico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Oferta.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_vegetacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ubicacion_referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario_apertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario_cierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Oferta.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_vegetacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ubicacion_referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario_apertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario_cierre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_atractivo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_atractivo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_atractivo })
        </td>
    </tr>
}

</table>
