@model ProyectoSistemaTurismo.Models.Publicidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publicidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Oferta.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_publicidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_publicidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_publicidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
