@model ProyectoSistemaTurismo.Models.Log_Visitas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Log_Visitas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Oferta.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_visita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_log }) |
    @Html.ActionLink("Back to List", "Index")
</p>
