@model ProyectoSistemaTurismo.Models.Oferta

@{
    ViewBag.Title = "Crear Nueva Oferta";
}

<h2>Crear Nueva Oferta</h2>

@using (Html.BeginForm("Crear", "Oferta", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <!-- Nombre -->
    <div class="form-group">
        @Html.LabelFor(model => model.nombre, "Nombre", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", placeholder = "Ingrese el nombre de la oferta", maxlength = 100, required = "required" })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Descripción -->
    <div class="form-group">
        @Html.LabelFor(model => model.descripcion, "Descripción", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", placeholder = "Ingrese una descripción", rows = 4, maxlength = 1000 })
            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Dirección -->
    <div class="form-group">
        @Html.LabelFor(model => model.direccion, "Dirección", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.direccion, new { @class = "form-control", placeholder = "Ingrese la dirección", maxlength = 200 })
            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Latitud -->
    <div class="form-group">
        @Html.LabelFor(model => model.ubicacion_lat, "Latitud", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ubicacion_lat, new { @class = "form-control", placeholder = "Ingrese la latitud", type = "number", step = "0.000001", required = "required" })
            @Html.ValidationMessageFor(model => model.ubicacion_lat, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Longitud -->
    <div class="form-group">
        @Html.LabelFor(model => model.ubicacion_lon, "Longitud", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ubicacion_lon, new { @class = "form-control", placeholder = "Ingrese la longitud", type = "number", step = "0.000001", required = "required" })
            @Html.ValidationMessageFor(model => model.ubicacion_lon, "", new { @class = "text-danger" })
        </div>
    </div>

    <button type="button" class="btn btn-info" onclick="obtenerUbicacion()">Obtener Ubicación Actual</button>

    <!-- Teléfono -->
    <div class="form-group">
        @Html.LabelFor(model => model.telefono, "Teléfono", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.telefono, new { @class = "form-control", placeholder = "Ingrese el teléfono", maxlength = 15, type = "tel" })
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Correo Electrónico -->
    <div class="form-group">
        @Html.LabelFor(model => model.email_contacto, "Correo Electrónico", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.email_contacto, new { @class = "form-control", placeholder = "Ingrese el correo electrónico", type = "email", required = "required" })
            @Html.ValidationMessageFor(model => model.email_contacto, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Sitio Web -->
    <div class="form-group">
        @Html.LabelFor(model => model.sitio_web, "Sitio Web", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.sitio_web, new { @class = "form-control", placeholder = "Ingrese el enlace del sitio web", type = "url" })
            @Html.ValidationMessageFor(model => model.sitio_web, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Destino -->
    <div class="form-group">
        @Html.Label("Destino", "Destino", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.id_destino, (SelectList)ViewBag.Destinos, "Seleccione un destino", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.id_destino, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Tipo de Oferta -->
    <div class="form-group">
        @Html.Label("Tipo de Oferta", "Tipo de Oferta", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.id_tipo_oferta, (SelectList)ViewBag.TiposOferta, "Seleccione un tipo de oferta", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.id_tipo_oferta, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Botones -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
            @Html.ActionLink("Cancelar", "MisOfertas", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
