@model IEnumerable<ProyectoSistemaTurismo.Models.Estado_Reporte>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_estado_reporte }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_estado_reporte }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_estado_reporte })
        </td>
    </tr>
}

</table>
