@model ProyectoSistemaTurismo.Models.Restaurante

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Oferta.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_cocina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_cocina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_apertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_apertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_cierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_cierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_promedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_promedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_minimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_minimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_maximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_maximo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
