@model IEnumerable<ProyectoSistemaTurismo.Models.Restaurante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Oferta.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_cocina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especialidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario_apertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario_cierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_promedio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_minimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_maximo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Oferta.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_cocina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especialidades)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario_apertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario_cierre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_promedio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_minimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_maximo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_restaurante }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_restaurante }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_restaurante })
        </td>
    </tr>
}

</table>
