@model ProyectoSistemaTurismo.Models.Preferencias_Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Preferencias_Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etiqueta.nombre_etiqueta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etiqueta.nombre_etiqueta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_preferencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
