@model ProyectoSistemaTurismo.Models.Preferencias_Usuario

@{
    ViewBag.Title = "Editar Preferencia de Usuario";
}

<h2>Editar Preferencia de Usuario</h2>

@using (Html.BeginForm("Editar", "Preferencias_Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <!-- Campo oculto para ID de la Preferencia -->
    @Html.HiddenFor(model => model.id_preferencia)

    <!-- Usuario -->
    <div class="form-group">
        @Html.LabelFor(model => model.id_usuario, "Usuario", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.id_usuario, (SelectList)ViewBag.Usuarios, "Seleccione un usuario", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Etiqueta -->
    <div class="form-group">
        @Html.LabelFor(model => model.id_etiqueta, "Etiqueta", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.id_etiqueta, (SelectList)ViewBag.Etiquetas, "Seleccione una etiqueta", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_etiqueta, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Botones -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
